
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<br/>
<br />

<h2>Đây là trang Admin-MTN</h2>
<style>
    h2 {
        background-color: deeppink;
        text-align : center;
    }
</style>
