
@{
    ViewBag.Title = "Phone";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<br />

<div class="dt">

    @Html.Action("dtiphonePartial", "Sanpham")
</div>
<div class="dt">

    @Html.Action("dtsamsungpartial", "Sanpham")
</div>

<div class="dt">

    @Html.Action("dtxiaomipartial", "Sanpham")
</div>


