
@{
    ViewBag.Title = "PhuKienpartial";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<br />
<div class="img-responsive">
    <img class="img-responsive; text-center" src="~/HinhAnhMTN/1200-44-1200x44-1.png" />
</div>
<div class="row">
    <div class="col-md-8">
        <img class="img-responsive img-responsive; text-center" src="~/HinhAnhMTN/800-200-800x200-211.png" />
    </div>
    <div class="col-md-4">
        <img src="~/HinhAnhMTN/sticky-pk-390-97-390x97-1.png" class="img-responsive" alt="" />
    </div>

    &ensp;
    <div class="col-md-4">
        <img src="~/HinhAnhMTN/sticky-pk-390-97-copy2-390x97.png" class="img-responsive" alt="" />
    </div>
</div>

<div class="swiper-wrapper">

    <h3 style="Text-align: Center; color: red; font-style: inherit ; background-color:white">Phụ Kiện</h3>
    <div class="col-md-2">
        <img src="~/HinhAnhMTN/Anker54-b_17.png" class="img-responsive" alt="" />
    </div>
    <div class="col-md-2">
        <img src="~/HinhAnhMTN/220-48-220x48-3-220x48.jpg" class="img-responsive" alt="" />
    </div>
    <div class="col-md-2">
        <img src="~/HinhAnhMTN/realme.jpg" class="img-responsive" alt="" />
    </div>
    <div class="col-md-2">
        <img src="~/HinhAnhMTN/xiaomi.jpg" class="img-responsive" alt="" />
    </div>
    <div class="col-md-2">
        <img src="~/HinhAnhMTN/LG54-b_17.png" class="img-responsive" alt="" />
    </div>
    <div class="col-md-2">
        <img src="~/HinhAnhMTN/AUKEY54-b_21.png" class="img-responsive" alt="" />
    </div>

</div>
<br />
<div class="dt" style=" padding-left: 20px;">
    @Html.Action("Sony", "Sanpham")
</div>
<div class="dt" style=" padding-left: 20px;">
    @Html.Action("PIN", "Sanpham")
</div>
<div class="dt" style=" padding-left: 20px;">
    @Html.Action("Anker", "Sanpham")
</div>
<div class="dt" style=" padding-left: 20px;">
    @Html.Action("JBL", "Sanpham")
</div>
