
@{
    ViewBag.Title = "Thongtinweb";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<div class="container">
    <h2>Quá trình hình thành:</h2>
    <blockquote class="blockquote">
        <p>
            Công ty TNHH Thế Giới Số (Mobile World Co. Ltd) thành lập vào tháng 03/2021 bởi 3 thành viên đồng sáng lập là Phạm Công Minh, Phạm Minh Nhựt,Lê Minh Trí ,lĩnh vực hoạt động chính của công ty bao gồm: mua bán sửa chữa các thiết bị liên quan đến điện thoại di động, thiết bị kỹ thuật số và các lĩnh vực liên quan đến thương mại điện tử.Bằng trải nghiệm về thị trường điện thoại di động từ đầu những năm 1990, cùng với việc nghiên cứu kỹ tập quán mua hàng của khách hàng Việt Nam, thegioso đã xây dựng một phương thức kinh doanh chưa từng có ở Việt Nam trước đây. Công ty đã xây dựng được một phong cách tư vấn bán hàng đặc biệt nhờ vào một đội ngũ nhân viên chuyên nghiệp và trang web dienthoaiminh.somee.com hỗ trợ như là một cẩm nang về điện thoại di động và một kênh thương mại điện tử hàng đầu tại Việt Nam.Hiện nay, số lượng điện thoại bán ra trung bình tại thegioididong.com khoảng 300.000 máy/tháng chiếm khoảng 15% thị phần điện thoại chính hãng cả nước. Trung bình một tháng bán ra hơn 10.000 laptop trở thành Nhà bán lẻ bán ra số lượng laptop lớn nhất cả nước.Việc bán hàng qua mạng và giao hàng tận nhà trên phạm vi toàn quốc đã được triển khai từ đầu năm 2007, hiện nay lượng khách hàng mua laptop thông qua website dienthoaiminh.somee.com và tổng đài 1900.797.979 đã tăng lên đáng kể, trung bình 5.000 - 6.000 đơn hàng mỗi tháng. Đây là một kênh bán hàng tiềm năng và là một công cụ hữu hiệu giúp các khách hàng ở những khu vực xa mua được một sản phẩm ưng ý khi không có điều kiện xem trực tiếp sản phẩm dienthoaiminh.somee.com là website thương mại điện tử lớn nhất Việt Nam với số lượng truy cập hơn 1.200.000 lượt ngày, cung cấp thông tin chi tiết về giá cả, tính năng kĩ thuật của hơn 500 model điện thoại và 200 model laptop của tất cả các nhãn hiệu chính thức tại Việt Nam. dienthoaiminh.somee.com đã nhận được nhiều giải thưởng do người tiêu dùng cũng như các đối tác bình chọn trong nhiều năm liền.
        </p>
        <footer class="blockquote-footer">Thế giới số</footer>
    </blockquote>
    </div>

