
@{
    ViewBag.Title = "hotro";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<br />
<br />




<div class="container p-3 my-3 border">
    <h1>Hỗ trợ trực tuyến</h1>
    <span class="glyphicon glyphicon-phone-alt"> <br /><h3>Hotline:1900.797979(AnhMinh)</h3> </span>
    &nbsp;
    <h3>Chi nhánh Long An , Quốc lộ 1A</h3>
    &nbsp;
    <span class="glyphicon glyphicon-phone-alt"> <br /><h3>Hotline:1900.4949499(AnhNhựt)</h3> </span>
    <h3>Chi nhánh Quận 9 , Đối diện khu Công Nghệ Cao </h3>
</div>