
@{
    ViewBag.Title = "lienhead";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<link href="~/Content/Minhdeptrai.css" rel="stylesheet" />
<br />

<h2 class="content">Hỗ trợ từ chúng tôi</h2>
<div class="testimonial">
    <div class="small-container">
        <div class="row">
            <div class="col-3">
                <i class="fa fa-quote-left"></i>
                <p> Onlokjasbckajvbkabvavbkajvbavbskvbakvbakvbakvjab</p>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
                <img src="/img/user-1.png">
                <h3>Minh Thuy</h3>
            </div>
            <div class="col-3">
                <i class="fa fa-quote-left"></i>
                <p> Onlokjasbckajvbkabvavbkajvbavbskvbakvbakvbakvjab</p>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
                <img src="/img/user-1.png">
                <h3>Minh Thuy</h3>
            </div>
            <div class="col-3">
                <i class="fa fa-quote-left"></i>
                <p> Onlokjasbckajvbkabvavbkajvbavbskvbakvbakvbakvjab</p>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
                <img src="/img/user-1.png">
                <h3>Minh Thuy</h3>
            </div>
        </div>
    </div>
</div>
<br />




