
@{
    ViewBag.Title = "Headphones";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<br />
<h2 class="center-block">Headphones</h2>
<div class="dt">
    @Html.Action("Sony", "Sanpham")
</div>
<div class="dt">
    @Html.Action("Anker", "Sanpham")
</div>
<div class="dt">
    @Html.Action("JBL", "Sanpham")
</div>